    /* search bar Styles */
.search-container {
  max-width: 600px;
  margin: 15px auto 20px;
  padding: 0 15px;
  display: flex;
  gap: 10px;
}

#searchInput {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid var(--boder);
  border-radius: 4px;
  font-size: 16px;
}

#searchButton {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#searchButton:hover {
  background-color: var(--primary-hover-color);
}

